# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/
Gemfile.lock

# Ruby
*.gem

# macOS
.DS_Store

# Logs
*.log

# VS Code (if you use it)
.vscode/

# IntelliJ / JetBrains
.idea/
